@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.img::before {
	content: '';
	inset: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	background-image: var(--img);
	z-index: -20;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
